.container {
    width: 900px;
    margin: 0 auto;
}
.good {
    display: inline-block;
    border: 1px solid black;
    margin: 5px;
    position: relative;
}

.good-img {
    width: 430px;
    height: 340px;
    background-image: url('');
    background-position: center;
    background-size: cover;
}

.cart {
    position: fixed;
    margin: 0 auto;
    left: 15%;
    top: 15%;
    min-width: 70%;
    height: 70%;
    border: 1px solid black;
    visibility: hidden;
    background-color: #fff;
}

.goodsTable{
    padding: 50px;
}

.searchInput {
    display: block;
    width: 98%;
    margin: 5px auto;
}

.title {
    text-align: center
}


.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    cursor: pointer;
    z-index: 100;
    }
    .close:hover {
    opacity: 1;
    }
    .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
    }
    .close:before {
    transform: rotate(45deg);
    }
    .close:after {
    transform: rotate(-45deg);
    }

.show {
    visibility: visible
}

